h1
{
    font-size : 300%;
    color : black;
    text-align: center;
}

body
{
    font-family: "Lora", sans-serif;
    background-color: #ffffff;
}

p

{
    font-size: 100%;
    text-align: center;
}

img
{
    display: block;
    width: 30%;
    margin: 0 auto;
    height: auto;
}

video
{
    display: block;
    width: 80%;
    margin: 0 auto;
}

a
{
    font-size : 100%;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav
{
    
  padding: 1% 1%; 
  background-color: rgb(189, 189, 189);
  text-align: right;
  margin: 0px;
}


li
{
    font-size: 100%;
}
